
target/classes/javareflx/App.class
target/classes/javareflx/bri/Programmer.class
target/classes/javareflx/bri/ProgrammerRegistry.class
target/classes/javareflx/bri/ServeurBRi.class
target/classes/javareflx/bri/Service.class
target/classes/javareflx/bri/ServiceBRi.class
target/classes/javareflx/bri/ServiceRegistry.class
target/classes/javareflx/clients/ClientAma.class
target/classes/javareflx/clients/ClientProg.class
target/classes/javareflx/server/BRiLaunch.class
target/classes/javareflx/standard_services/ServiceInversion.class
target/classes/org/example/App.class
target/test-classes/javareflx/AppTest.class
target/test-classes/org/example/AppTest.class
.idea/discord.xml
.idea/discord.xml
.idea/